SECRET_KEY=your-secret-key-here

DEBUG=True

NAME=your_database_name
USER=your_database_user
PASSWORD=your_database_password
HOST=127.0.0.1
PORT=5432

EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_password