{% extends "base.html" %}

{% block title %}{{ form.instance.pk|yesno:"Редактирование клиента,Добавление клиента" }}{% endblock %}

{% block content %}
<h1>{{ form.instance.pk|yesno:"Редактирование клиента, Добавление клиента" }}</h1>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <label for="{{ form.email.id_for_label }}">Email</label>
    {{ form.email.errors }}
    {{ form.email }}

    <label for="{{ form.full_name.id_for_label }}">Ф.И.О.</label>
    {{ form.full_name.errors }}
    {{ form.full_name }}

    <label for="{{ form.comment.id_for_label }}">Комментарий</label>
    {{ form.comment.errors }}
    {{ form.comment }}

    <div class="form-actions">
        <button type="submit" class="btn">Сохранить</button>
        <a href="{% url 'client_list' %}" class="btn" style="background-color: #888;">Отмена</a>
    </div>
</form>
{% endblock %}