{% extends "base.html" %}
{% load form_tags %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Профиль пользователя</h2>
    <div class="card p-3 mt-3" style="max-width: 500px;">
        {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="Аватар" class="img-thumbnail mb-3" style="max-width: 150px;">
        {% endif %}
        <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Телефон:</strong> {{ user.phone_number }}</p>
        <p><strong>Страна:</strong> {{ user.country }}</p>

        <a href="{% url 'profile_edit' %}" class="btn btn-primary mt-3">Редактировать профиль</a>
    </div>
</div>
{% endblock %}
