{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<h1>Сброс пароля</h1>

<form method="post" action=".">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div>
        <label for="id_password1">Новый пароль:</label>
        {{ form.password1 }}
        {{ form.password1.errors }}
    </div>
    <div>
        <label for="id_password2">Подтверждение пароля:</label>
        {{ form.password2 }}
        {{ form.password2.errors }}
    </div>

    <button type="submit" class="btn">Сохранить новый пароль</button>
</form>
{% endblock %}